.page__head {
  padding-bottom: 0;
}
.c-logo {
  /*font-family: var(--heading-font-family);*/
  font-size: responsive .6rem .975rem;
  font-range: 20rem 80rem;
  font-weight: 400;
  & a {
    border-bottom: 0;
    border-bottom: none;
    &:hover {
      border-bottom: 0;
      border-bottom: none;
    }
  }
  & p {
    color: #fff;
  }
}