.blue-line {
  border: 1px solid rgba(17, 36, 119, 1);
  margin-top: 0;
}
.fa-inverse {
  color: rgba(32, 65, 165, 1) !important;
}
.inline {
  display: inline-block;
}
.pad20 {
  padding-right: 20px;
}
.silver-line {
  border: 1px solid rgba(201, 201, 201, 1);
  margin-top: 0;
}
.subheading {
  font-family: var(--root-font-family);
  font-weight: var(--root-font-weight);
}
.text-capitalize {
  text-transform: capitalize;
}
.text-cursive {
  font-family: var(--heading-font-family);
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.button-container {
  & span {
    background-color: rgba(32, 65, 165, 1);
    display: inline-block;
    margin-bottom: 10px; 
    margin-top: 10px; 
    padding: 10px;   
    text-transform: uppercase;
    &:hover {
      background-color: rgba(202, 202, 202, 1);
    }
  }
}
.button-link {
  background-color: rgba(255,255,255,0); 
  border:none; 
  color: rgba(255,255,255,1);
  &:hover {
    background-color: rgba(255,255,255,0);
    border:none;
    /*color: rgba(255,255,255,1);*/
  }
}
