{{ partial "header.html" . }}
  {{ $baseurl := .Site.BaseURL }}

<main class="page__body" role="main">
  <div class="page__body__content-area">
    <section  class="c-main__content" data-layout="u-2/3@lg">
      <div class="newsletter">
        {{ partial "newsletter.html" . }}
      </div>
      <section>
        <div class="o-flag s-flag--bottom o-list__item c-article-list__item t-mainbody-list__item">
          <span class="o-flag__image" data-layout="u-2/5@lg" style="min-height: 240px;">
            <img src="/img/2017/02/cbattle.png" height="300" alt="State Director, Curtesia Battle">
          </span>
          <span class="" data-layout="u-3/5@lg">
            <h2 style="margin-bottom:20px;">A warm welcome to the great state of Oklahoma's website from State Director, Curtisia D. Battle</h2>
            <p style="margin-bottom:20px;"> Whether you are browsing out of curiosity, interest in becoming a member, or even already a Soror, you are at the right place at the right time. Keep God first, and let the blessings flow. Come be apart of Oklahoma Zetas On The Move!</p>
            <a href="/news/2017/02/welcome-to-the-great-state-of-oklahoma/" style="padding: 4px 6px; background-color: #eaeaea;">Read the full greeting ➤</a>
          </span>
        </div>
      </section>
      <article class="o-media-container t-event">
        <h2><a href="/event">Events & Announcements</a></h2>
        <ul class="o-list c-article-list t-events-list">
          {{ range first 5 (where .Data.Pages.ByExpiryDate "Section" "event") }}
            {{ .Render "list"}}
          {{ end }}
        </ul>
      </article>
    </section>
    <aside class="c-main__sidebar o-media-container t-spotlight" data-layout="u-1/3@lg">
      <header class="section-head">
        <img src="/img/main/ok_zetas_spotlight.png" alt="OK Zetas Newsletter logo">
      </header>
      <ul class="o-list c-article-list t-spotlight-list">
        {{ range first 3 (where .Data.Pages "Type" "spotlight") }}
          {{ .Render "list"}}
        {{ end }}
      </ul>
    </aside>
    
    <section class="c-main__content--block" data-layout="u-1@lg">
      <h2><a href="/news">News & Information</a></h2>
      <ul class="o-list c-article-list news">
        {{ range first 4 (where .Data.Pages "Type" "post")  }}
          {{ .Render "list"}}
        {{ end }}
      </ul>
    </section>
    
    <section class="c-main__content--block o-band--shade" data-layout="u-1@lg">
      
    </section>
    <section class="c-main__content--block" data-layout="u-1@lg">
      
    </section>
    <section class="c-main__content--block o-band" data-layout="u-1@lg">
      
    </section>
  </div>
</main>

{{ partial "footer.html" . }}