
    <footer class="page__footer" role="banner">
      <div class="page__footer__content-area">
        <div class="footer__main" data-layout="u-3/5@lg">
          <div class="social">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </div>
        </div>
        <div class="footer__side" data-layout="u-2/5@lg">
          <div class="newsletter">
            {{ partial "newsletter.html" . }}
          </div>
        </div>
        <hr class="silver-line">
        <small>
          <div class="copyright footer__half" data-layout="u-1/2@lg">
            {{ partial "copyright.html" . }}
          </div>
          <div class="copyright footer__half" data-layout="u-1/2@lg">
            {{ partial "site-colophon.html" . }}
          </div>
        </small>
      </div>
      
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
  <!-- <script src="/js/vendor/jquery.slicknav.js"></script> -->
</html>