{{ partial "header.html" . }}
<main class="page__body o-article__body" role="main">
  <article class="article page__body__content-area">
    <h1 class="subheading c-article__title text-capitalize">{{ .Title }}</h1>
    <section class="c-main__content" data-layout="u-5/6@lg" style="position: relative; left: calc(99.9% * 5/6 - (1.25rem - 1.25rem * 5/6)) !important;">
      {{ .Content }}
    </section>
    <aside class="c-main__sidebar" data-layout="u-1/6@lg" style="position: relative; left: calc(99.9% * -1/6 - (1rem - 1rem * -1/6) + 1rem) !important;">
      {{ partial "sidebar.html" . }}
    </aside>
  </article>
</main>
{{ partial "footer.html" . }}