{{ partial "header" . }}
  {{ $baseurl := .Site.BaseURL }}
  <main class="page__body" role="main">
    <div class="page__body__content-area">
      <section  class="c-main__content--block" data-layout="u-1@lg">
        <article class="o-media-container">
          <h2><a href="/news">Events</a></h2>
          <ul class="o-list c-article-list news">
            {{ if .Site.Params.orderByPublishDate }}
                {{ $paginator := .Paginate (where .Data.Pages.ByPublishDate.Reverse "Type" "event") }}
            {{ else }}
                {{ $paginator := .Paginate (where .Site.Pages "Type" "event") }}
            {{ end }}

            {{ range .Paginator.Pages }}
                {{ .Render "list" }}
            {{ end }}
          </ul>
        </article>
      </section>
    </div>
  </main>
  <!-- {{ partial "pagination" . }} -->
  <!-- Main -->
{{ partial "footer" . }}